/* shared styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.font {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.margin {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* shared styles ends  */

/* Navbar related style starts here  */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  text-align: center;
  align-items: center;
}

.nav-left h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
}

.nav-right ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-weight: 600;
  color: #3a3a3a;
}
/* Navbar related style ends here  */

/* Banner styles starts here  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left h1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: #3a3a3a;
}

.banner-left p {
  max-width: 500px;
  margin: 16px 0;
  color: #3a3a3a;
}

.btn-primary {
  padding: 10px 24px;
  background-color: #ee006b;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  font-size: 1.05rem;
  border: none;
  margin-top: 10px;
}

.banner-img {
  background-image: url(../media/images/Circle\ design.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Banner styles ends here  */

/* Sponsor img style starts here  */
.sponsor-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  justify-items: center;
  padding: 30px;
  margin: 50px auto;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-image: linear-gradient(to right, transparent, #dcdcdc, transparent) 1;
}

.sponsor-img {
  cursor: pointer;
}
/* Sponsor img style ends here  */

/* Product style starts here  */
#product-h2 {
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-bottom: 50px;
}

.product-card {
  border: 1px solid rgb(243, 247, 248);
  width: 350px;
  padding: 14px 17px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 15%);
  border-radius: 5px;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 35%);
  transition: all 0.3s ease;
  transform: scale(1.05) rotate(0deg) translate(0px, -5px) skewX(0deg);
}

.product-card h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: #19181f;
}

.product-card h4 {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 1.5rem;
}

.star-container {
  color: #ff7e00;
}

#star-counter {
  color: #5e6366;
}

.img-hover-zoom {
  height: 300px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.shipping {
  color: #7a7586;
  margin-top: 3px;
}

.product-card img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
}

.see-more-div {
  text-align: end;
  padding: 20px;
}

.see-more {
  color: #f2007e;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 50px;
}
/* Product style ends here  */

/* Responsive styles starts here  */
/* Mobile devices  */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .nav-right ul {
    margin-top: 20px;
    gap: 20px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-img {
    width: 320px;
  }

  .banner-left {
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
  }

  .banner-left h1 {
    font-size: 1.75rem;
  }

  .sponsor-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .sponsor-img {
    max-width: 60px;
  }
}

/* Tablet Devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar {
    margin: 20px;
  }

  .banner-img {
    width: 320px;
  }

  .banner-left {
    padding: 0 10px;
    margin-top: 20px;
  }

  .banner-left h1 {
    font-size: 2.25rem;
  }

  .sponsor-img {
    max-width: 70px;
  }
}
/* Responsive styles ends here  */
