/* shared styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.font {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.margin {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* shared styles ends  */

/* Navbar related style starts here  */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  text-align: center;
  align-items: center;
}

.nav-left h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
}

.nav-right ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-weight: 600;
  color: #3a3a3a;
}
/* Navbar related style ends here  */

/* Banner styles starts here  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left h1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: #3a3a3a;
}

.banner-left p {
  max-width: 500px;
  margin: 16px 0;
  color: #3a3a3a;
}

.btn-primary {
  padding: 10px 24px;
  background-color: #ee006b;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  font-size: 1.05rem;
  border: none;
  margin-top: 10px;
}

.banner-img {
  background-image: url(../media/images/Circle\ design.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Banner styles ends here  */

/* Responsive styles starts here  */
/* Mobile devices  */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .nav-right ul {
    margin-top: 20px;
    gap: 20px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-img {
    width: 320px;
  }

  .banner-left {
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
  }

  .banner-left h1 {
    font-size: 1.75rem;
  }
}

/* Tablet Devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar {
    margin: 20px;
  }

  .banner-img {
    width: 320px;
  }

  .banner-left {
    padding: 0 10px;
    margin-top: 20px;
  }

  .banner-left h1 {
    font-size: 2.25rem;
  }
}
/* Responsive styles ends here  */
